{% extends 'base.html.twig' %}

{% block title %}BewVeD{% endblock %}

{% block body %}
<div class="example-wrapper mx-5 my-5">
    <h5>WelcomeTrainer,</h5>
    <p>In this application, you can add learners or pormotions and form groups using the group creation form,</p>
</div>
{% endblock %}
