{% extends 'base.html.twig' %}

{% block title %}New Learner{% endblock %}

{% block body %}
    <h1>Create new Learner</h1>

    {{ include('learner/_form.html.twig') }}

    <a href="{{ path('learner_index') }}">back to list</a>
{% endblock %}
